# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Compile firmware locally'
      'command': 'particle-offline-compiler:compile'
    }
    {
      'label': 'Compile and attempt OTA update (Core only)'
      'command': 'particle-offline-compiler:compileOTA'
    }
    { type: 'separator' }
  ]
'menu': [
  {
    'label': 'Particle'
    'submenu': [
      {
        'label': 'Compile firmware locally'
        'command': 'particle-offline-compiler:compile'
      }
      {
        'label': 'Compile and attempt OTA update (Core only)'
        'command': 'particle-offline-compiler:compileOTA'
      }
      { type: 'separator' }
      {
        'label': 'Target platform:'
        'submenu': [
          {
            type: 'radio'
            'label': 'Photon'
            'command': 'particle-offline-compiler:platformPhoton'
          }
          {
            type: 'radio'
            'label': 'P1'
            'command': 'particle-offline-compiler:platformP1'
          }
          {
            type: 'radio'
            'label': 'Core'
            'command': 'particle-offline-compiler:platformCore'
          }
        ]
      }
      {
        'label': 'DFU serial port'
        'submenu': [
          {
            'label': '[refresh DFU serial device list]'
            'command': 'particle-offline-compiler:getPorts'
          }
        ]
      }
      { type: 'separator' }
      {
        'label': 'Show compile log / upload console (coming soon!)'
        'command': 'particle-offline-compiler:console'
      }

      # {
      #   # TODO
      #   'label': 'Compile target platform:'
      #   'submenu': [
      #     {
      #       'label': 'Core'
      #       'command': 'particle-offline-compiler:platformCore'
      #     }
      #     {
      #       'label': 'Photon'
      #       'command': 'particle-offline-compiler:platformPhoton'
      #     }
      #     {
      #       'label': 'P1'
      #       'command': 'particle-offline-compiler:platformP1'
      #     }
      #   ]
      # }
    ]
  }
]
